body{
    padding: 0;
    margin: 0px;
    background-image: url('../images/10.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.sence{
    box-shadow:0 0 10px #0860B9 inset;
    width:500px;
    height:500px;
   /* border:1px solid #0860B9;*/
    border-right:none;
    border-bottom:none;
    background-color:black;
    margin:70px auto;
}
.block{
    background-color:#A5DEF0;
    width:49px;
    height:49px;
    border-radius: 30%;
    margin:0 1px 1px 0;
    float:left;
}