body {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.header {
  height: 44px;
  width: 100%;
  color: #fff;
  background: #000;
  text-align: center;
  line-height: 44px;
}
.header-con {
  margin: 0 auto;
  max-width: 1024px;
}
.menu {
  width: 300%;
  background: #000;
  padding: 0 50px 100px;
  display: none;
  z-index: 9999;
}
.menus {
  border-bottom: 1px solid #bbb;
  display: block;
  margin: 0 auto;
  text-align: left;
  height: 50px;
  line-height: 50px;
}
.cent-l {
  text-align: left;
}
.cent-c {
  text-align: center;
}
.cent-r {
  text-align: right;
}
.footer {
  width: 100%;
  background: #f2f2f2;
  height: 356px;
  border: 1px solid #f2f2f2;
  font-size: 12px;
  color: #666;
}
.row1 {
  width: 20%;
  float: left;
}
.content {
  height: 320px;
  margin: 20px auto 0;
  max-width: 1024px;
  padding: 0 22px;
}
.row1 .footer-title {
  font-weight: bold;
}
.row1 .footer-con {
  font-weight: normal;
  margin-top: 10px;
}
.row1 li {
  height: 20px;
}
.background {
  background: url(../images/home_hero_ssn_large.png) no-repeat;
  background-position: center;
}
.promo {
  width: 100%;
  height: 200px;
  float: left;
  border: 1px solid #fff;
}
.promo:nth-child(1) {
  background: url(../images/1.jpg) no-repeat center;
}
.promo:nth-child(2) {
  background: url(../images/2.jpg) no-repeat center;
}
.promo:nth-child(3) {
  background: url(../images/3.jpg) no-repeat center;
}
.promo:nth-child(4) {
  background: url(../images/4.jpg) no-repeat center;
}
.lists:nth-child(1) {
  background: url(../images/home_hero_ssn_large.png) no-repeat center;
}
.lists:nth-child(2) {
  background: url(../images/home_hero_evergreen_ipad_medium.jpg) no-repeat center;
}
.lists:nth-child(3) {
  background: url(../images/download.jpg) no-repeat center;
}
.lists:nth-child(4) {
  background: url(../images/home_hero_cny_medium.jpg) no-repeat center;
}
.lists:nth-child(5) {
  background: url(../images/home_hero_ssn_large.png) no-repeat center;
}
.back {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner {
  background: url(../images/home_hero_ssn_large.png) no-repeat;
  background-position: center;
  background-size: auto 300px;
  height: 348px;
  width: 500%;
  margin-top: 10px;
  text-align: center;
}
.banner h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 5px auto;
}
.banner h3 {
  font-weight: normal;
  font-size: 24px;
}
.banner span {
  font-size: 12px;
  color: #08c;
}
.lists {
  width: 20%;
  height: 100%;
}
.banner-btn {
  width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
}
.banner-btn .btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  margin: 0 10px;
  float: left;
}
.promo {
  width: 100%;
  background-size: cover;
}
.menu-title {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  line-height: 44px;
}
.menu-title:before,
.menu-title:after {
  content: "";
  display: block;
}
.menu-title:after {
  clear: both;
}
.menu-title span {
  float: right;
  padding-right: 30px;
}
.menu-con {
  width: 100%;
  font-size: 1em;
  background: #f2f2f2;
  display: none;
}
.menu-con:before,
.menu-con:after {
  content: "";
  display: block;
}
.menu-con:after {
  clear: both;
}
.menu-con li {
  margin-left: 30px;
}
.container {
  width: 636px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
}
.container:after {
  clear: both;
}
.container > .row > .col-s-0 {
  float: left;
  width: 0%;
}
.container-fluid > .row > .col-s-0 {
  float: left;
  width: 0%;
}
.container > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container > .row > .col-s-left-12 {
  position: relative;
  left: -100%;
}
.container > .row > .col-s-right-12 {
  position: relative;
  left: 100%;
}
.container-fluid > .row > .col-s-left-12 {
  position: relative;
  left: -100%;
}
.container-fluid > .row > .col-s-right-12 {
  position: relative;
  left: 100%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-11 {
  position: relative;
  left: -91.66666667%;
}
.container > .row > .col-s-right-11 {
  position: relative;
  left: 91.66666667%;
}
.container-fluid > .row > .col-s-left-11 {
  position: relative;
  left: -91.66666667%;
}
.container-fluid > .row > .col-s-right-11 {
  position: relative;
  left: 91.66666667%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-10 {
  position: relative;
  left: -83.33333333%;
}
.container > .row > .col-s-right-10 {
  position: relative;
  left: 83.33333333%;
}
.container-fluid > .row > .col-s-left-10 {
  position: relative;
  left: -83.33333333%;
}
.container-fluid > .row > .col-s-right-10 {
  position: relative;
  left: 83.33333333%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-9 {
  position: relative;
  left: -75%;
}
.container > .row > .col-s-right-9 {
  position: relative;
  left: 75%;
}
.container-fluid > .row > .col-s-left-9 {
  position: relative;
  left: -75%;
}
.container-fluid > .row > .col-s-right-9 {
  position: relative;
  left: 75%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-8 {
  position: relative;
  left: -66.66666667%;
}
.container > .row > .col-s-right-8 {
  position: relative;
  left: 66.66666667%;
}
.container-fluid > .row > .col-s-left-8 {
  position: relative;
  left: -66.66666667%;
}
.container-fluid > .row > .col-s-right-8 {
  position: relative;
  left: 66.66666667%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-7 {
  position: relative;
  left: -58.33333333%;
}
.container > .row > .col-s-right-7 {
  position: relative;
  left: 58.33333333%;
}
.container-fluid > .row > .col-s-left-7 {
  position: relative;
  left: -58.33333333%;
}
.container-fluid > .row > .col-s-right-7 {
  position: relative;
  left: 58.33333333%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-6 {
  position: relative;
  left: -50%;
}
.container > .row > .col-s-right-6 {
  position: relative;
  left: 50%;
}
.container-fluid > .row > .col-s-left-6 {
  position: relative;
  left: -50%;
}
.container-fluid > .row > .col-s-right-6 {
  position: relative;
  left: 50%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-5 {
  position: relative;
  left: -41.66666667%;
}
.container > .row > .col-s-right-5 {
  position: relative;
  left: 41.66666667%;
}
.container-fluid > .row > .col-s-left-5 {
  position: relative;
  left: -41.66666667%;
}
.container-fluid > .row > .col-s-right-5 {
  position: relative;
  left: 41.66666667%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-4 {
  position: relative;
  left: -33.33333333%;
}
.container > .row > .col-s-right-4 {
  position: relative;
  left: 33.33333333%;
}
.container-fluid > .row > .col-s-left-4 {
  position: relative;
  left: -33.33333333%;
}
.container-fluid > .row > .col-s-right-4 {
  position: relative;
  left: 33.33333333%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-3 {
  position: relative;
  left: -25%;
}
.container > .row > .col-s-right-3 {
  position: relative;
  left: 25%;
}
.container-fluid > .row > .col-s-left-3 {
  position: relative;
  left: -25%;
}
.container-fluid > .row > .col-s-right-3 {
  position: relative;
  left: 25%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-2 {
  position: relative;
  left: -16.66666667%;
}
.container > .row > .col-s-right-2 {
  position: relative;
  left: 16.66666667%;
}
.container-fluid > .row > .col-s-left-2 {
  position: relative;
  left: -16.66666667%;
}
.container-fluid > .row > .col-s-right-2 {
  position: relative;
  left: 16.66666667%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-1 {
  position: relative;
  left: -8.33333333%;
}
.container > .row > .col-s-right-1 {
  position: relative;
  left: 8.33333333%;
}
.container-fluid > .row > .col-s-left-1 {
  position: relative;
  left: -8.33333333%;
}
.container-fluid > .row > .col-s-right-1 {
  position: relative;
  left: 8.33333333%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row > .col-s-left-0 {
  position: relative;
  left: 0%;
}
.container > .row > .col-s-right-0 {
  position: relative;
  left: 0%;
}
.container-fluid > .row > .col-s-left-0 {
  position: relative;
  left: 0%;
}
.container-fluid > .row > .col-s-right-0 {
  position: relative;
  left: 0%;
}
.container > .row > .col-s-v {
  display: block;
}
.container > .row > .col-s-h {
  display: none;
}
.container-fluid > .row > .col-s-v {
  display: block;
}
.container-fluid > .row > .col-s-h {
  display: none;
}
.container > .row {
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
}
.container > .row:after {
  clear: both;
}
.container-fluid {
  width: 100%;
}
.container-fluid:before,
.container-fluid:after {
  content: "";
  display: block;
}
.container-fluid:after {
  clear: both;
}
.container-fluid > .row {
  width: 100%;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  display: block;
}
.container-fluid > .row:after {
  clear: both;
}
@media screen and (min-width: 736px) {
  .back {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .banner {
    background-size: auto 500px;
    height: 600px;
    width: 500%;
    margin-top: 10px;
    text-align: center;
    background: url(../images/home_hero_ssn_large.png) no-repeat;
    background-position: center;
  }
  .lists:nth-child(1) {
    background: url(../images/home_hero_ssn_large.png) no-repeat center;
    background-size: inherit;
  }
  .lists:nth-child(2) {
    background: url(../images/home_hero_evergreen_ipad_medium.jpg) no-repeat center;
    background-size: inherit;
  }
  .lists:nth-child(3) {
    background: url(../images/download.jpg) no-repeat center;
    background-size: inherit;
  }
  .lists:nth-child(4) {
    background: url(../images/home_hero_cny_medium.jpg) no-repeat center;
    background-size: inherit;
  }
  .lists:nth-child(5) {
    background: url(../images/home_hero_ssn_large.png) no-repeat center;
  }
  .banner h1 {
    font-weight: bold;
    font-size: 52px;
    margin: 5px auto;
  }
  .banner h3 {
    font-weight: normal;
    font-size: 28px;
  }
  .banner span {
    font-size: 16px;
    color: #08c;
  }
  .lists {
    width: 20%;
    height: 100%;
  }
  .promo {
    width: 50%;
    background-size: cover;
  }
  .footer2 {
    display: none;
  }
  .container {
    width: 736px;
    margin: 0 auto;
  }
  .container > .row > .col-m-0 {
    float: left;
    width: 0%;
  }
  .container-fluid > .row > .col-m-0 {
    float: left;
    width: 0%;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container > .row > .col-m-left-12 {
    position: relative;
    left: -100%;
  }
  .container > .row > .col-m-right-12 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-m-left-12 {
    position: relative;
    left: -100%;
  }
  .container-fluid > .row > .col-m-right-12 {
    position: relative;
    left: 100%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container > .row > .col-m-right-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container-fluid > .row > .col-m-left-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container-fluid > .row > .col-m-right-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container > .row > .col-m-right-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container-fluid > .row > .col-m-left-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container-fluid > .row > .col-m-right-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-9 {
    position: relative;
    left: -75%;
  }
  .container > .row > .col-m-right-9 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-m-left-9 {
    position: relative;
    left: -75%;
  }
  .container-fluid > .row > .col-m-right-9 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container > .row > .col-m-right-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container-fluid > .row > .col-m-left-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container-fluid > .row > .col-m-right-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container > .row > .col-m-right-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container-fluid > .row > .col-m-left-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container-fluid > .row > .col-m-right-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-6 {
    position: relative;
    left: -50%;
  }
  .container > .row > .col-m-right-6 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-m-left-6 {
    position: relative;
    left: -50%;
  }
  .container-fluid > .row > .col-m-right-6 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container > .row > .col-m-right-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container-fluid > .row > .col-m-left-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container-fluid > .row > .col-m-right-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container > .row > .col-m-right-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container-fluid > .row > .col-m-left-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container-fluid > .row > .col-m-right-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-3 {
    position: relative;
    left: -25%;
  }
  .container > .row > .col-m-right-3 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-m-left-3 {
    position: relative;
    left: -25%;
  }
  .container-fluid > .row > .col-m-right-3 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container > .row > .col-m-right-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container-fluid > .row > .col-m-left-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container-fluid > .row > .col-m-right-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container > .row > .col-m-right-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container-fluid > .row > .col-m-left-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container-fluid > .row > .col-m-right-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-left-0 {
    position: relative;
    left: 0%;
  }
  .container > .row > .col-m-right-0 {
    position: relative;
    left: 0%;
  }
  .container-fluid > .row > .col-m-left-0 {
    position: relative;
    left: 0%;
  }
  .container-fluid > .row > .col-m-right-0 {
    position: relative;
    left: 0%;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
}
@media screen and (min-width: 1070px) {
  .promo {
    width: 25%;
    background-size: cover;
  }
  .container {
    width: 1070px;
    margin: 0 auto;
  }
  .container > .row > .col-l-0 {
    float: left;
    width: 0%;
  }
  .container-fluid > .row > .col-l-0 {
    float: left;
    width: 0%;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container > .row > .col-l-left-12 {
    position: relative;
    left: -100%;
  }
  .container > .row > .col-l-right-12 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-l-left-12 {
    position: relative;
    left: -100%;
  }
  .container-fluid > .row > .col-l-right-12 {
    position: relative;
    left: 100%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container > .row > .col-l-right-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container-fluid > .row > .col-l-left-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container-fluid > .row > .col-l-right-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container > .row > .col-l-right-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container-fluid > .row > .col-l-left-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container-fluid > .row > .col-l-right-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-9 {
    position: relative;
    left: -75%;
  }
  .container > .row > .col-l-right-9 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-l-left-9 {
    position: relative;
    left: -75%;
  }
  .container-fluid > .row > .col-l-right-9 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container > .row > .col-l-right-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container-fluid > .row > .col-l-left-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container-fluid > .row > .col-l-right-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container > .row > .col-l-right-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container-fluid > .row > .col-l-left-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container-fluid > .row > .col-l-right-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-6 {
    position: relative;
    left: -50%;
  }
  .container > .row > .col-l-right-6 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-l-left-6 {
    position: relative;
    left: -50%;
  }
  .container-fluid > .row > .col-l-right-6 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container > .row > .col-l-right-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container-fluid > .row > .col-l-left-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container-fluid > .row > .col-l-right-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container > .row > .col-l-right-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container-fluid > .row > .col-l-left-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container-fluid > .row > .col-l-right-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-3 {
    position: relative;
    left: -25%;
  }
  .container > .row > .col-l-right-3 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-l-left-3 {
    position: relative;
    left: -25%;
  }
  .container-fluid > .row > .col-l-right-3 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container > .row > .col-l-right-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container-fluid > .row > .col-l-left-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container-fluid > .row > .col-l-right-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container > .row > .col-l-right-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container-fluid > .row > .col-l-left-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container-fluid > .row > .col-l-right-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-left-0 {
    position: relative;
    left: 0%;
  }
  .container > .row > .col-l-right-0 {
    position: relative;
    left: 0%;
  }
  .container-fluid > .row > .col-l-left-0 {
    position: relative;
    left: 0%;
  }
  .container-fluid > .row > .col-l-right-0 {
    position: relative;
    left: 0%;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
}
