body{
	margin:0;
	padding:0;
	font-family:"微软雅黑";
}
.changjing{
	width:400px;
	height:400px;
	margin:20px auto;
	/*border:1px solid red;*/
	perspective:800px;
}
.mian{
	width:500px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-150px;
	text-align:center;
	line-height:200px;
	color:white;
	font-size:36px;
	/*border:3px solid black;*/
	box-shadow:1px 2px 3px black;
	background:#E780E7;
	opacity:0.9;
	border-radius:20px; 
}
/*.one{	-webkit-transform:translate3d(0,0,0);
		z-index:100;
	}
.two{	-webkit-transform:translate3d(-200px,0,-250px);
		z-index:75;
}
.three{	-webkit-transform:translate3d(200px,0,-250px); 
		z-index:75;		
}
.four{	-webkit-transform:translate3d(-500px,0,-500px);
		z-index:50;
}
.five{	-webkit-transform:translate3d(500px,0,-500px);
		z-index:50;
}*/